@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                
                                <form class="mx-1 mx-md-4" form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.FullName">FullName</label>
                                            <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Email">Email</label>
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-home fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Address">Address</label>
                                            <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" placeholder="address" />
                                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Phone">Phone</label>
                                            <input asp-for="Input.Phone" class="form-control" autocomplete="username" aria-required="true" placeholder="0123456789" />
                                            <span asp-validation-for="Input.Phone" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Password">Password</label>
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-end mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                       
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                                    </div>

                                </form>
                                
                                <section>
                                    <hr />
                                    @{
                                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                        {
                                            <div>
                                                <p>
                                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                        article
                                                        about setting up this ASP.NET application to support logging in via external services
                                                    </a>.
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins!)
                                                        {
                                                            var icon = provider.Name switch
                                                            {
                                                                "Facebook" => "fab fa-facebook-f",
                                                                "Google" => "fab fa-google",
                                                                _ => ""
                                                            };
                                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                                <i class="@icon"></i> Log in with @provider.DisplayName
                                                            </button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                                </section>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
