@model ThoiTrangNam.Models.Product
@{
    ViewData["Title"] = "Details";
}
<div style="padding-left:540px;">
    <h4>Chi tiết sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-13">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>
        <dd class="col-sm-10">
            <p>
                @Model.BuyPrice.ToString("#,##0") VNĐ
            </p>
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class="col-sm-10">
            <p>
                @Model.SellPrice.ToString("#,##0") VNĐ
            </p>
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm~2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-4">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="280px" />
            <div class="row">
                <dd class="col-sm-4">
                    @if (Model.Images.Count > 0)
                    {
                        foreach (var image in Model.Images)
                        {
                            <img src="@image.Url" class="img-fluid mr-2 mb-2" style="width: 200px;" />
                        }
                    }
                    else
                    {
                        <p>No other images available.</p>
                    }
                </dd>
            </div>
        </dd>      
    </dl>
    
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProductId">Sửa</a> |
        <a asp-action="Delete" asp-route-id="@Model?.ProductId">Xóa</a> |
        <a asp-action="Index">Trở lại</a>
    </div>
</div>

